{% extends "blog/base.html"%}
{% block content%}
    <div class="about_content">
        <h1 > About Us </h1>
        <hr>
        <p> National Institute of Technology, Calicut. One among the many dream colleges of students all over India. Ranking 23rd in the NIRF rankings and mostly ranking below 5 in all students NIT preference list. A college filled with exciting opportunities and wonderful events. </p>
        <p>That's the good side of things. Every coin has 2 sides and so does college life here. So, here's a place to share all those stories about NITC. Be it good or bad, success or failures. Every story reveals a hidden part of this family. This is a place for you to meet like-minded individuals and make friends. A place to rant about your every-day life. A place where you can find motivation from the stories about people who lived here before you.</p>
    </div>
{% endblock content %}